@model MediCode.Models.Pacjent

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesel)
        </dd>
    </dl>
    <h4>Historia chorób</h4>
    @if (Model.Choroby != null && Model.Choroby.Count > 0)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nazwa choroby</th>
                    <th>Data rozpoznania</th>
                    <th>Opis</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var choroba in Model.Choroby)
                {
                    <tr>
                        <td>@choroba.Nazwa</td>
                        <td>@choroba.Data?.ToString("yyyy-MM-dd" ?? "")</td>
                        <td>@choroba.Opis</td>
                        <td>
                            <a asp-controller="Choroby" asp-action="EditOpis" asp-route-id="@choroba.Id">Edytuj</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Brak historii chorób.</p>
    }
    <h4>Wizyty pacjenta</h4>
    @if (ViewBag.WizytyPacjenta != null && ((List<Wizyta>)ViewBag.WizytyPacjenta).Any())
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Data wizyty</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var wizyta in (List<MediCode.Models.Wizyta>)ViewBag.WizytyPacjenta)
                {
                    <tr>
                        <td>@wizyta.DataWizyty.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>@wizyta.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Brak wizyt.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a> |
    <a asp-action="Index">Anuluj</a>
</div>
