@model IEnumerable<MediCode.Models.Pacjent>

@{
    ViewData["Title"] = "Lista pacjentów";
}

<h1>Lista pacjentów</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" style="background-color: #C70B76; border-color: #BC0B6F;">Dodaj
        nowego pacjenta</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pesel)
                </td>
                @* <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td> *@
                <td class="text-center align-middle">
                    <div class="d-flex w-100 gap-2">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm flex-fill"
                            style="background-color: #ffe6f0;">Edytuj</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm flex-fill"
                            style="background-color:  #ffb3d1;">Szczegóły</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm text-white flex-fill"
                            style="background-color: #ff0066;">Usuń</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
